# Python101  2019-12-03

### Basic Commands

- shift + enter to run a cell
- clikc on >> button on top to run all cells
- click on left hand side of the cell and type "a" to insert a cell above "b" to insert a tab below
- tab key or dir() function to see available attributes/methods
- within the parenthesis hit shift and tab to see documentations(docstring)

### Create variables 

```python

my_name = 'Ryuji'
favorite_num = 5
lucky_num = 7

#check the data types
type(my_name)

type(favorite_num)


#print the variable my_name
print(my_name)


```

## List
- List are ordered sequences that can hold variety of object types.
- Use square brackets and commas to create List
- List support slicing and indexing

```python

my_list = [1,2,3]

my_list2 = ['AAPL US Equity','IBM US Equity','MSFT US Equity']


#retrieve the first objet of this list

my_list[0]

#second onject(*remember python index will start with 0)

my_list[1]


#use dir() function to see the available methods

dir(my_list)
# mylist. hit tab key



#append an item to the list

my_list2.append('new item')


```

In [18]:
my_list=[1,2,3]

## For loop
- Iterate over every element in the object.


```python

for number in [1,2,3,4,5]:
    print(number)
    
    print('number has been printed')


```


# If statement

```python

number =5

if number > 10:
    print ('number is greater than 10')
else:
    print('number is not grater than 10')


```

In [12]:
for number in [1,2,3,4,5]:
    print(number)
    
    print('number has been printed')

1
number has been printed
2
number has been printed
3
number has been printed
4
number has been printed
5
number has been printed

## Combining for loop with if statements
```python


pe_ratio =  [10,12,15,8,9,1000,21,12]

for pe in pe_ratio:
    
    if pe >100:
        print ('this is an outlier')
    else:
        print(pe)

```

## Functions

- Functions allow us to create blocks of codes that can be easily executed
- star with the key word def
- You can add parameters for the function

```python

def avg(price1,price2):
    return (price1 + price2) /2

```

In [68]:
def avg(price1,price2):
    return (price1 + price2) /2

In [70]:
avg(100,150)

125.0

# pandas library

- Nothing to do with the animal panda but stands for "Panel-data"
- pandas is like excel in python
- We will be working with dataframe
- we will be using acronym pd for pandas and df for DataFrame

```python
import pandas as pd

df = pd.DataFrame()

```

In [84]:
import pandas as pd

df = pd.DataFrame()
#adding aaple columns
df['AAPL'] = [100,120,130]
#adding microsoft column
df['MSFT'] = [110,112,115]
#adding dates index
df.index = ['day1','day2','day3']

#to retrieve the only aaple column

#df['AAPL']

#tto retrieve only the first row

#df.iloc[0]

##  Quick exercise1

#### Create data frame looks like below:

          IBM  FB
october    10  20
november   12  23

##  Quick exercise2-a

#### Create a function t called add3  that will take one argument and add 3 to the argument

In [103]:
add3(5)

8

##  Quick exercise2-b

#### add a feature to the function above:
- if argument is a text(string) print: "Please proveide a number"

In [105]:
add3('hello world')

'Please provede a number'

##  Quick exercise3

#### Add "US Equity" to simbols list below and create tickers list
##### *hint use for loop and append method

In [111]:
simbols = ['AAPL','IBM','MSFT']
tickers =[]

In [113]:
tickers

['AAPL US Equity', 'IBM US Equity', 'MSFT US Equity']

## answers
```python
#ex1
df = pd.DataFrame()
df['IBM'] = [10,12]
df['FB'] =[20,23]
df.index = ['october','november']
df

#ex2a
def add3(num):
    return num + 3

#ex2b
def add3(num):
    if type(num)==str:
        return 'Please provede a number'
    return num + 3


#ex2b more advanced way
def add3(num):
    if isinstance(num,str):
        return 'Please provede a number'
    return num + 3

#ex3

for i in simbols:
    tickers.append(i + ' US Equity')

```